<div>
    <h2 id="page-heading">
        <span jhiTranslate="jHipsterkimtyApp.transaction.home.title">Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jHipsterkimtyApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transactions?.length === 0">
        <span jhiTranslate="jHipsterkimtyApp.transaction.home.notFound">No transactions found</span>
    </div>
    <div class="table-responsive" *ngIf="transactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateT"><span jhiTranslate="jHipsterkimtyApp.transaction.dateT">Date T</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="montant"><span jhiTranslate="jHipsterkimtyApp.transaction.montant">Montant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateR"><span jhiTranslate="jHipsterkimtyApp.transaction.dateR">Date R</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="commission"><span jhiTranslate="jHipsterkimtyApp.transaction.commission">Commission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="commSystem"><span jhiTranslate="jHipsterkimtyApp.transaction.commSystem">Comm System</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="commExp"><span jhiTranslate="jHipsterkimtyApp.transaction.commExp">Comm Exp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tax2"><span jhiTranslate="jHipsterkimtyApp.transaction.tax2">Tax 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="statut"><span jhiTranslate="jHipsterkimtyApp.transaction.statut">Statut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="code"><span jhiTranslate="jHipsterkimtyApp.transaction.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="commretrait"><span jhiTranslate="jHipsterkimtyApp.transaction.commretrait">Commretrait</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['/transaction', transaction.id, 'view' ]">{{transaction.id}}</a></td>
                <td>{{transaction.dateT | date:'mediumDate'}}</td>
                <td>{{transaction.montant}}</td>
                <td>{{transaction.dateR | date:'mediumDate'}}</td>
                <td>{{transaction.commission}}</td>
                <td>{{transaction.commSystem}}</td>
                <td>{{transaction.commExp}}</td>
                <td>{{transaction.tax2}}</td>
                <td>{{transaction.statut}}</td>
                <td>{{transaction.code}}</td>
                <td>{{transaction.commretrait}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', { outlets: { popup: transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
