<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading" jhiTranslate="jHipsterkimtyApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.dateT" for="field_dateT">Date T</label>
                    <div class="input-group">
                        <input id="field_dateT" type="text" class="form-control" name="dateT" ngbDatepicker  #dateTDp="ngbDatepicker" formControlName="dateT"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateTDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.montant" for="field_montant">Montant</label>
                    <input type="number" class="form-control" name="montant" id="field_montant"
                           formControlName="montant"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.dateR" for="field_dateR">Date R</label>
                    <div class="input-group">
                        <input id="field_dateR" type="text" class="form-control" name="dateR" ngbDatepicker  #dateRDp="ngbDatepicker" formControlName="dateR"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateRDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.commission" for="field_commission">Commission</label>
                    <input type="number" class="form-control" name="commission" id="field_commission"
                           formControlName="commission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.commSystem" for="field_commSystem">Comm System</label>
                    <input type="number" class="form-control" name="commSystem" id="field_commSystem"
                           formControlName="commSystem"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.commExp" for="field_commExp">Comm Exp</label>
                    <input type="number" class="form-control" name="commExp" id="field_commExp"
                           formControlName="commExp"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.tax2" for="field_tax2">Tax 2</label>
                    <input type="number" class="form-control" name="tax2" id="field_tax2"
                           formControlName="tax2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.statut" for="field_statut">Statut</label>
                    <input type="text" class="form-control" name="statut" id="field_statut"
                           formControlName="statut"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jHipsterkimtyApp.transaction.commretrait" for="field_commretrait">Commretrait</label>
                    <input type="number" class="form-control" name="commretrait" id="field_commretrait"
                           formControlName="commretrait"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
